@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";

*{
  font-family: "DynaPuff";
}

h1 {
  text-shadow: 2px 3px 1px rgba(28, 0, 0, 0.209);
}

button:hover {
  transform: translateY(-2px);
}